.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
}
